* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: black;
    padding: 2vh;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 50px;
}



@media only screen and (min-width:100px) {


    /* Common Header */
    .nav {
        display: none;
    }

    .side-menu>p,
    .logo>p,
    .cart>p {
        text-align: center;
        font-weight: bold;
        color: aliceblue;

    }

    .side-menu {
        align-self: center;
    }

    .cart {
        display: flex;
        justify-content: center;
    }

    .cart img {
        width: 25px;
        height: 25px;
    }


    /* Home page layout setup */
    .lay1,
    .lay2,
    .imac,
    .ipad {
        display: grid;
        grid-template-rows: 1fr .1fr .1fr;
        justify-items: center;
        row-gap: 2rem;
    }

    .button>a>button {
        margin-bottom: 2rem;
        border: none;
        width: 25vw;
        padding: 5%;
        background-color: transparent;
        border: solid black 2px;
    }

    .button button:focus {
        background-color: black;
        color: white;
    }

    .iphones-image {
        width: 60vw;
    }

    .iphones-image>img,
    .ipad-image>img,
    .macbook-image>img,
    .imacs-image>img {
        width: 90%;
    }

    section {
        margin: 10vw;
    }

    .lay3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .imacs-image img {
        width: 80%;
        margin-left: 10%;

    }

    footer {
        background-color: black;
    }

    footer>h3 {
        text-align: center;
        padding: 1rem;
        font-size: 2rem;
        color: white;
    }





    /* Common CSS for Product List page for every category */
    .items-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        text-align: center;
    }

    .products img {
        width: 100%;
    }

    .lay2-mobile {
        display: none;
    }

    .imacpro img {
        width: 85%;
    }


    /* Cart Page CSS */
    .cart-items {
        display: grid;
        grid-template-rows: .1fr 1fr .3fr;
        justify-items: center;
        margin: 3.5rem auto;
    }

    .product-1-quantity p,
    .product-1-ram p,
    .product-1-price p,
    .remove {
        color: gray;
    }

    .products-added {
        margin-top: 2vw;
    }

    .product-1 {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .product-name {
        display: grid;
        grid-template-columns: .5fr 2fr;
        width: 100%;
        align-items: center;
        justify-self: start;
        column-gap: none;
        grid-column: 1/5;
    }

    .product-1-ram {
        order: 1;
        grid-column: 2/4;
    }

    .product-1-price {
        order: 2;
    }

    .product-1-quantity {
        order: 3;
    }

    .product-1-image>img {
        width: 60%;
    }

    .remove {
        border: none;
        background-color: transparent;
    }

    .remove>a {
        text-decoration: none;
        color: black;
    }

    .cart-price-summary {
        display: flex;
        padding-right: 5vw;
        justify-content: flex-end;
        justify-self: flex-end;
        align-items: center;
        column-gap: 5vw;
    }

    .checkout-button {
        display: none;
    }

    .cart-price-summary button {

        background-color: transparent;
        display: block;
        border: 2px solid black;
        padding: 10px;
        background-color: transparent;
    }


    .fixed-checkout-button {
        position: fixed;
        width: 100%;
        bottom: 0;
    }

    .fixed-checkout-button button {
        border: none;
        background-color: transparent;
        color: white;
        margin-left: 38vw;
        padding: 1rem;
    }



    /* Single item product page CSS */


    .single-item-image>img {
        width: 100%;
    }

    .single-item-description {
        display: grid;
        grid-template-rows: .1fr .1fr .1fr 1fr;
        row-gap: 2rem;
    }

    .single-desc {
        color: gray;
        font-size: small;
        margin-bottom: 1rem;
    }

    .single-desc>* {
        margin-bottom: 10px;
    }

    .single-desc>h4 {
        color: black;
        margin-bottom: 1.5rem;
    }

    .single-desc>li {
        margin-left: 3rem;
    }

    .single-item-size {
        display: grid;
        grid-template-columns: 1fr 7fr;
        align-items: center;
        font-size: small;
        border-bottom: lightgray solid 1px;
    }

    select,
    .add-to-cart>button {
        border: none;
        background-color: transparent;
        width: 100%;
    }

    .add-to-cart>button {
        display: none;
    }

    .fixed-add-to-cart {
        position: sticky;
        bottom: 0;
    }

    .fixed-add-to-cart button {
        border: none;
        background-color: transparent;
        color: white;
        margin-left: 38vw;
        padding: 1rem;

    }




    /* Checkout page CSS */
    .checkout-header {
        text-align: center;
        font-size: smaller;
        margin-top: 3%;
        margin-bottom: 0%;
    }

    .checkout-info h3,
    .checkout-info p {
        font-size: small;
    }

    .checkout-info input {
        border: none;
        border-bottom: 2px solid rgb(206, 206, 206);
        padding-bottom: 10px;
        width: 100%;
    }

    .checkout-info input {
        font-size: 15px;
    }

    .checkout-info {
        display: flex;
        flex-direction: column;
        column-gap: 8vw;
        margin: 5vw 3%;

    }

    .account-details {
        display: flex;
        flex-direction: column;
    }

    .account-details *,
    .payment-method *,
    .order-summary * {
        margin: 10px 0;
    }

    .state {
        display: flex;
        justify-content: space-between;
        column-gap: 2vw;
    }

    .state>div {
        width: 100%;
    }

    .expiry {
        display: flex;
        justify-content: space-between;
    }

    .expiry-date-select {
        display: flex;
        flex-direction: column;

    }

    .expiry-date-select div {
        display: flex;
        column-gap: 10px;
    }

    .expiry-date-select select {
        border-bottom: 2px solid rgb(206, 206, 206);
    }

    .cvv {
        margin: 0;
    }

    .ordered-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .ordered-items div {
        margin: 0;
    }

    .order-summary h5 {
        text-align: end;
    }

    .place-order-div button {
        display: none;
    }

    .total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .billing-address>div {
        display: flex;
        width: 100%;
    }

    .billing-address input {
        width: 20px;
        margin-right: 10px;
    }

    .pace-order-bottom {
        position: sticky;
        bottom: 0;
        background-color: black;
    }

    .pace-order-bottom button {
        border: none;
        background-color: transparent;
        color: white;
        margin-left: 38vw;
        padding: 1rem;
    }


}

@media only screen and (min-width:566px) {

    /* Common Header */
    .side-menu {
        display: none;
    }

    .logo {
        grid-column: 2/3;
    }

    .nav {
        grid-column: 1/4;
        display: flex;
        justify-self: center;
        padding-top: 2vh;
    }

    nav>a {
        text-align: center;
        margin-left: 3vw;
        color: white;
        text-decoration: none;
    }

    .cart {
        justify-content: flex-end;
    }

    /* Common CSS for Product List page for every category */
    section {
        margin: 10vw;
    }

    .button>a>button {
        width: 20vw;
    }

    .items-list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .lay2-mobile {
        display: grid;
        justify-content: center;
    }

    .imacs-page-header img {
        width: 50%;
        margin-left: 25%;
    }


    /* Cart page CSS */

    .product-name {
        grid-column: 1;
    }

    .product-1-ram {

        grid-column: 2;
    }

    .product-1-remove {
        order: 4;
    }

    .checkout-button {
        display: block;
    }

    .checkout-button button:focus {
        background-color: black;
        color: white;
    }




    /* Single item CSS Page*/
    .product-page {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .add-to-cart>button {
        margin: 10% 0pc;
        width: 150px;
        display: block;
        border: black solid 2px;
        padding: 8px;
    }

    .add-to-cart button:focus {
        background-color: black;
        color: white;
    }

    .fixed-add-to-cart {
        display: none;
    }







    /* Checkout page CSS */
    .checkout-header {
        margin: 5rem auto;
    }

    .checkout-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8vw;
        margin: 5vw 3%;

    }

    footer {
        display: none;
    }

    .place-order-div button {
        display: block;
        border: 2px solid gray;
        width: 50%;
        padding: 10px;
        background-color: transparent;
    }

    .place-order-div button:focus {
        background-color: black;
        color: white;
    }

    .billing-address input {
        width: 20px;
    }


}



@media only screen and (min-width:960px) {

    .iphones-image>img,
    .ipad-image>img,
    .macbook-image>img {
        width: 70%;
        margin-left: 15%;

    }

    .iphones-image {
        width: 35vw;
    }

    .macbook-image {
        width: 60vw;
    }

    section {
        margin: 5vw;
    }

    .button>a>button {
        width: 12vw;
    }


    /* Cart Page */
    .your-cart {
        margin-top: 10%;
    }

    .cart-items {
        margin: auto 10%;
    }

    .checkout-info {

        margin: 5vw 15%;

    }

    .checkout-button {
        width: 10vw;
    }

    .checkout-button button {
        width: 100%;
    }



    /* Single item description */
    .single-item-description {
        margin-right: 10vw;
    }



}